*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root,
:root.light {
  --body-bg--color1: 112.1deg, rgba(77, 100, 174, 0.821) 11.4%;
  --body-bg--color2: rgb(171, 189, 248) 70.2%;
  --body-background: url(./images/lightcloud.jpg);
  --deeppink: rgba(202, 103, 124, 0.83);
  --display-bg: var(--deeppink);
  /* --display-bg: #c27980; */
  --direction--bg: linear-gradient(
    var(--body-bg--color1),
    var(--body-bg--color2)
  );

  --blur: 100rem;

  --box-shadow: rgb(33, 2, 33);
  --border: 5px dotted var(--display-bg);
  --placeholder: rgb(74, 63, 63);
  --search-shadow: rgba(74, 70, 70, 0.449);
  --toggle-circle: #a17baa;

  --search-radius: rgba(96, 115, 178, 0.821);

  --search-bg: white;
  --city: white;
  --iconCurrent: var(--display-bg);
  --description: black;
  --active: brown;
  --Acme: "Acme", "sans-serif";
  --h3: aliceblue;
  --stroke: black;
  --day-bg: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  --instructSpan: black;
  --title: #d06283;
}

:root.dark {
  --display-bg: rgba(101, 27, 118, 0.926);
  --direction: to top;
  --direction--bg: linear-gradient(
    var(--direction),
    var(--body-bg--color1),
    var(--body-bg--color2)
  );
  --blur: 500rem;
  --body-background: url(./images/darkcloud.jpg);

  --search-bg: rgba(244, 197, 235, 0.501);
  --days: #a17baa;
  --box-shadow: rgba(25, 18, 25, 0.526);
  --border: none;
  --placeholder: aliceblue;
  --h1: white;
  --search-shadow: var(--box-shadow);
  --search-radius: white;
  --city: white;
  --description: var(--city);
  --instruct: aliceblue;
  --active: rgb(243, 193, 243);
  --Acme: "Acme", "sans-serif";
  --h3: aliceblue;
  --stroke: black;
  --day-bg: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  --instructSpan: aliceblue;
  --title:rgb(244,219,251);
}
body {
  min-height: 100vh;
  width: 100%;
  /* background: var(--directio--bg); */
  background-image: var(--body-background);
  background-size: cover;
  /* bg has to be fixed to allow for a continous flow of bg in the container */
  background-attachment: fixed;
  display: flex;
  padding: 2% 0;
  /* justify-content: space-arou; */
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title {
  text-transform: uppercase;
  font-family: var(--Acme);
  font-size: 3rem;
text-align: center;
  color: var(--title);
}
.active {
  color: var(--active);
  font-weight: bolder;
}
.authour,
a {
  color: aliceblue;
}
h1#city {
  font-size: 3.5rem;

  color: var(--h1);
}
h3 {
  visibility: hidden;
  color: var(--h3);
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  -webkit-text-stroke: 1px var(--stroke);
}
h3,
h1 {
  font-family: var(--Acme);
  font-weight: 100;
  letter-spacing: 1;
}

.instruction {
  display: block;
  font-style: italic;
  text-align: center;
  color: var(--instruct);
}
.instruction span {
  color: var(--instructSpan);
}
/* A frosted glass effect */
.container {
  width: 90vw;
  /* width: 90; */
  height: auto;
  /* we only add blur here */
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.252);
  position: relative;
  background: inherit;
  overflow: hidden;
  padding-bottom: 5%;
  z-index: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* add color of the glass using inset box shadow (blur only also)
    inset makes the shadow inside the box rather than the usual under the box */
  box-shadow: inset 0 0 200rem var(--pseudoglass-bg);
  /* to get our frosted glass effect, apply filter property and inherit the body bg */
  filter: blur(var(--blur));
  background: inherit;
  /* at this stage, we see some blur effect around our container,
    instead we need a sharp edge container and a glass frosted body container */
  margin: -2rem;
  /* this pseudo container is now bigger and overflowing it main container,so 
    we set overflow hidden to the main container and get our sharp edge*/
  z-index: -1;
  /* ?to stay behing the main container */
}
/* using neumorphism in the display
RULES
1)we play around with white and black shadow
2) bg should not be white
3) our light source is either topleft or topright */
.display {
  width: 99%;
  height: 25vh;
  background: var(--display-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 1rem 1rem 0.5rem 0.5rem;
  margin-top: 0.2rem;
  position: relative;
  padding: 0 1rem;
}
.theme {
  align-self: flex-start;
}

.search-display {
  width: 50%;
  background-color: var(--display-bg);
  height: 30%;
  border-radius: 2rem;

  box-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.239),
    inset 3px 3px 4px rgba(0, 0, 0, 0.492);

  border-color: transparent;

  text-align: center;
  font-size: 1rem;
}
.search-display::placeholder {
  color: var(--placeholder);
}
.search {
  border-radius: 5px;
  border: 2px solid var(--search-radius);
  box-shadow: 0 0 3px 0 var(--search-shadow);
  background-color: var(--search-bg);
  padding: 2% 0;
  font-size: 1rem;
  width: 50%;
  text-align: center;
}

.current-location {
  width: 25%;
}
.icon-currentLocation {
  color: var(--iconCurrent);
}
.searches {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
/* container and content MUS HAVE same BACKGROUND */
/* theme buttons */
.toggle {
  --width: 4rem;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  cursor: pointer;

  position: absolute;
  top: 2%;
  right: 2%;
}
/* --height are just variables */
.toggle--fill {
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: aliceblue;
  position: relative;
  transition: all 0.3s ease-in-out;
}
/* making the height half of the width makes it look
better and most importantly ,on the toogle--fill::after
the border will be completely round when we giive it
a round value,previuosly when i defined the height in %
of the .display size and applied 50% border radius,it didnt become round
even when i did 18rem border radius */
.toggle--fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--toggle-circle);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.844);
}
.toggle--input {
  display: none;
}

/* without ~ it wont work,~means the next element */

.toggle--input:checked ~ .toggle--fill::after {
  transform: translateX(var(--height));
  background-color: #b2d4f2;
}

/* Forecast of the week */

.days {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  grid-gap: 1rem;
  width: 100%;

  padding: 0 5%;
  margin-top: 2rem;

  justify-content: center;
}

.day {
  border: 2px solid var(--days);
  background: var(--day-bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  border-radius: 1rem;
  box-shadow: 1px 5px rgba(32, 4, 40, 0.586);

  /* box-shadow: 0 0 0.1rem var(--box-shadow);
  padding: 0 2%; */
}
.day img {
  width: 4rem;
}
.day--description {
  font-style: italic;
  font-weight: lighter;
}
.min-content,
.max-content {
  display: flex;
}
.forecast--day {
  font-family: var(--Acme);
  justify-self: flex-start;
}
/* live content  */

.weather-info {
  align-self: flex-start;
  padding: 0 5%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.temp {
  font-size: 5vw;
}
.cel,
.fah {
  cursor: pointer;
}
.temp-container {
  display: flex;
}
.action {
  font-weight: bold;
  font-size: 2rem;
}
.action-icon {
  display: none;
  width: 6rem;
  height: 6rem;
}
.time-info {
  display: flex;
}
.update {
  font-weight: bold;
}

#date-ext {
  font-style: italic;
}

/* weather decsription */
.weather-description {
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  margin-right: 10%;
  color: var(--description);
}
.weather-info,
h1 {
  color: var(--description);
}
@media (max-width: 992px) {
  h1 {
    font-size: 6vw;
  }
  .temp {
    font-size: 12vw;
  }
  .temp span {
    font-size: 5vw;
  }
  .days {
    justify-content: space-around;
  }
  .title{
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .toggle {
    --height: calc(var(--width) / 2.2);
  }
  .toggle--input:checked ~ .toggle--fill::after {
    transform: translateX(calc(var(--width) / 2));
  }

  .action-icon {
    width: 6rem;
  }
}
@media (max-width: 700px) {
  .future {
    font-size: 1.5rem;
  }
  h1#city {
    font-size: 6vw;
  }
  .instruction {
    padding: 0 5%;
  }
}
@media (max-width: 470px) {
  .time-info {
    font-size: 0.9rem;
  }
  .day-temp {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .search {
    font-size: 0.7rem;
  }
  :root,
  :root.dark {
    --blur: 20rem;
  }
  .instruction {
    margin-top: 10%;
  }
  .action-icon {
    width: 4rem;
    height: 4rem;
  }
  .time-info {
    font-size: 0.8rem;
  }
  .action {
    font-size: 1.5rem;
  }
  .title{
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .time-info {
    font-size: 0.8rem;
  }
  h1#city {
    font-size: 1.7rem;
  }
  .title{
    font-size: 1.5rem;
  }
}
